@import "../../variables.scss";

.content{
    display: flex;
    align-items: center;
    flex-direction: column;

    .title{
        padding: 0.625em 0;
        border-bottom: 1px solid $primary-text-color;
    }
    .clock{
        padding: 0.625em 0;
        color: $secondary-text-color;
    }

    .title,
    .clock{
        font-size: 3rem;
    }
}