nav{
    display: grid;
    background-color: rgba(33, 33, 33, 0.98);
    margin-bottom: 10px;
    ul{
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(4, 1fr) 6fr;
        li{
            font-size: 1.9em; 
            align-items: center;
            a{
                
            }
        }
    }
}