@import "../../variables.scss";

.content{

    .title{
        padding: 0.625em 0;
        border-bottom: 1px solid $primary-text-color;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .main{
        // border: 1px solid red;
        .columns{
            display: flex;
            justify-content: center;
            max-width: 500px;
            width: 100%;
            margin: 0 auto;
            padding-top: 0.625em;
            // border: 1px solid red;

            .column{
                flex-direction: column;
                width: 30%;
                

                .label{
                    font-size: 1.5rem;
                    text-align: center;
                }
                .change-time{
                    display: block;
                    background: $primary-input-background;
                    border: $secondary-input-border;
                    &:hover{
                        background-color: lighten($primary-input-background, 10%);
                        cursor: pointer;
                    }
                }
                .input{
                    display: block;
                    text-align: center;
                    background: $secondary-input-background;
                    border: $primary-input-border;
                    cursor: default;
                }
                .change-time,
                .input{
                    &:disabled{
                        background: $disabled-input-background;
                        border: $disabled-input-border;
    
                        &:hover{
                            background: $disabled-input-background;
                            cursor: default;
                        }
                    }
                }
                .label,
                .change-time,
                .input{
                    font-size: 1.25rem;
                    width: 100%;
                    padding: 0.25rem 0;
                }
            }
        }
        .row{
            display: flex;
            justify-content: center;
            max-width: 500px;
            width: 100%;
            margin: 0 auto;

            .button-control{
                width: 45%;
                font-size: 1.25rem;
                padding: 0.25rem 0;
                background: $secondary-input-background;
                border: $secondary-input-border;

                &:hover{
                    background-color: lighten($secondary-input-background, 10%);
                    cursor: pointer;
                }

                &:disabled{
                    background: $disabled-input-background;
                    border: $disabled-input-border;

                    &:hover{
                        background: $disabled-input-background;
                        cursor: default;
                    }
                }
            }
            .display{
                width: 90%;
                text-align: center;
                font-size: 3rem;
            }
            &:last-child{
                padding: 0.625em 0;
            }
        }
    }
    .title,
    .main{
        font-size: 3rem;
    }
}


.invisible{
    display:none;
}

// making the arrows on inputs disappear

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}