<section class="content">
    <div class="title">
        This is a {{ title }} App
    </div>
    <div class="main">
        <div class="columns">
            <div class="column">
                <div class="label">Hours</div>
                <button class="change-time" (click)="changeTime(1, 'hours')" [disabled]="timeSet ? true : false">+</button>
                <input type="number" id="hoursInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
                <button class="change-time" (click)="changeTime(-1, 'hours')" [disabled]="timeSet ? true : false">-</button>
            </div>
            <div class="column">
                <div class="label">Minutes</div>
                <button class="change-time" (click)="changeTime(1, 'minutes')" [disabled]="timeSet ? true : false">+</button>
                <input type="number" id="minutesInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
                <button class="change-time" (click)="changeTime(-1, 'minutes')" [disabled]="timeSet ? true : false">-</button>
            </div>
            <div class="column">
                <div class="label">Seconds</div>
                <button class="change-time" (click)="changeTime(1, 'seconds')" [disabled]="timeSet ? true : false">+</button>
                <input type="number" id="secondsInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
                <button class="change-time" (click)="changeTime(-1, 'seconds')" [disabled]="timeSet ? true : false">-</button>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="button-control" id="submitBtn" (click)="setTime()" [disabled]="timeSet ? true : false">Set!</button>
            <button type="submit" class="button-control" id="resetBtn" (click)="resetTime()" [disabled]="timeSet ? false : true">Reset!</button>
        </div>
        <div class="row">
            <div class="display" *ngIf="timeSet; else timeNotSet" [ngStyle]="{'color': timeSet ? 'rgb(94, 245, 152)' : 'rgb(190, 121, 121)'}">
                <ng-template [ngIf]="hours >= 10" [ngIfElse]="lessHours">
                    {{ hours }}
                </ng-template>
                :
                <ng-template [ngIf]="minutes >= 10" [ngIfElse]="lessMinutes">
                    {{ minutes }}
                </ng-template>
                :
                <ng-template [ngIf]="seconds >= 10" [ngIfElse]="lessSeconds">
                    {{ seconds }}
                </ng-template>
            <!-- TEMPLATES TO ADD A '0' BEHIND A TIME ELEMENT IN CASE ITS SMALLER THAN 10, for esthetics -->
                <ng-template #lessHours>0{{ hours }}</ng-template>
                <ng-template #lessMinutes>0{{ minutes }}</ng-template>
                <ng-template #lessSeconds>0{{ seconds }}</ng-template>
            </div>

            <ng-template #timeNotSet><div class = "display" >00 : 00 : 00</div></ng-template>
        </div>
    </div>
</section>