<div class="content">
    <div class="title">
        This is a {{ title }}
    </div>
    <div class="container">
        <div class="row">
            <button class="change-time" (click)="changeTime(1, 'hours')" [disabled]="timeSet ? true : false">+</button>
            <button class="change-time" (click)="changeTime(1, 'minutes')" [disabled]="timeSet ? true : false">+</button>
            <button class="change-time" (click)="changeTime(1, 'seconds')" [disabled]="timeSet ? true : false">+</button>
        </div>
        <div class="row">
            <input type="number" id="hoursInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
            <input type="number" id="minutesInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
            <input type="number" id="secondsInput" class="input" value = 0 readonly [disabled]="timeSet ? true : false">
        </div>
        <div class="row">
            <button class="change-time" (click)="changeTime(-1, 'hours')" [disabled]="timeSet ? true : false">-</button>
            <button class="change-time" (click)="changeTime(-1, 'minutes')" [disabled]="timeSet ? true : false">-</button>
            <button class="change-time" (click)="changeTime(-1, 'seconds')" [disabled]="timeSet ? true : false">-</button>
        </div>
        <div class="row">
            <button type="submit" class="button" id="submitBtn" (click)="setTime()" [disabled]="timeSet ? true : false">Set!</button>
            <button type="submit" class="button" id="resetBtn" (click)="resetTime()" [disabled]="timeSet ? false : true">Reset!</button>
        </div>
        <div class="row">
            <div class="display" *ngIf="timeSet; else timeNotSet">
                <ng-template [ngIf]="hours >= 10" [ngIfElse]="lessHours">
                    {{ hours }}
                </ng-template>
                :
                <ng-template [ngIf]="minutes >= 10" [ngIfElse]="lessMinutes">
                    {{ minutes }}
                </ng-template>
                :
                <ng-template [ngIf]="seconds >= 10" [ngIfElse]="lessSeconds">
                    {{ seconds }}
                </ng-template>
            <!-- TEMPLATES TO ADD A '0' BEHIND A TIME ELEMENT IN CASE ITS SMALLER THAN 10, for esthetics -->
                <ng-template #lessHours>0{{ hours }}</ng-template>
                <ng-template #lessMinutes>0{{ minutes }}</ng-template>
                <ng-template #lessSeconds>0{{ seconds }}</ng-template>
            </div>

            <ng-template #timeNotSet><div class = "display" >00 : 00 : 00</div></ng-template>
        </div>
    </div>
</div>