/* You can add global styles to this file, and also import other style files */
$base-text-color: rgb(190, 121, 121);
$base-background-color: #181818;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $base-background-color;
    color: lighten($base-text-color, 15%);
    font-family: Arial, Helvetica, sans-serif
}

a{
    color: $base-text-color;
    text-decoration: none;
    &:visited{
        text-decoration: none;
        color: $base-text-color;
    }
    &:hover{
        color: lighten($base-text-color, 20%)
    }
}