/* You can add global styles to this file, and also import other style files */
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $primary-background-color;
    color: $primary-text-color-bright;
    font-family: Arial, Helvetica, sans-serif;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        min-height: 100vh;

        app-root{
            width: 100%;
            .content{
                background: $secondary-background-color;
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 570px) {
    body{
        .container{

            .content{
                margin-top: 1em!important;
            }
        }
    }
}